<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>{% block title %}Welcome to Ilias Books{% endblock %}</title>
</head>
<body class="bg-gray-100 min-h-screen flex flex-col">
    <nav class="bg-slate-800 py-4">
        <div class="max-w-6xl mx-auto flex justify-between items-center px-4 sm:px-6 lg:px-8">
            <a href="/" class="text-2xl text-white font-bold">Gaiazre</a>
            <div class="flex items-center space-x-6">
                <a href="{% url 'book:index' %}" class="text-white">Books</a>
                {% if user.is_staff %}
                 <a href="{% url 'author:index' %}" class="text-white">Authors</a>
                 <a href="{% url 'book:add' %}" class="py-4 px-6 bg-sky-700 text-white">Add book</a>
                {% endif %}
                {% if user.is_authenticated %}
                    <div class="relative" id="dropdown">
                        <button class="flex items-center space-x-2 focus:outline-none" id="dropdownButton">
                            <img src="{% if user.userprofile.avatar %}{{ user.userprofile.avatar.url }}{% else %}{% static 'core/images/no-avatar.png' %}{% endif %}" alt="{{ user.username }}" class="w-10 h-10 rounded-full">
                            <span class="text-white">{{ user.username }}</span>
                        </button>
                        <div class="absolute right-0 mt-2 py-2 w-48 bg-white rounded-lg shadow-xl hidden" id="dropdownMenu">
                            <a href="{% url 'profile' %}" class="block px-4 py-2 text-gray-800 hover:bg-indigo-500 hover:text-white">Profile</a>
                            {% if user.is_staff %}
                                <a href="{% url 'admin:index' %}" class="block px-4 py-2 text-gray-800 hover:bg-indigo-500 hover:text-white">Admin</a>
                            {% endif %}
                            <a href="{% url 'logout' %}" class="block px-4 py-2 text-gray-800 hover:bg-indigo-500 hover:text-white">Log Out</a>
                        </div>
                    </div>
                {% else %}
                    <a href="{% url 'register' %}" class="py-2 px-4 bg-green-700 text-white rounded">Register</a>
                    <a href="{% url 'login' %}" class="py-2 px-4 bg-blue-700 text-white rounded">Log In</a>
                {% endif %}
            </div>
        </div>
    </nav>

    <div class="max-w-6xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
        {% block content %}
        {% endblock %}
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const dropdownButton = document.getElementById('dropdownButton');
            const dropdownMenu = document.getElementById('dropdownMenu');
            const dropdown = document.getElementById('dropdown');

            dropdownButton.addEventListener('click', function(event) {
                event.stopPropagation();
                dropdownMenu.classList.toggle('hidden');
            });

            document.addEventListener('click', function(event) {
                if (!dropdown.contains(event.target)) {
                    dropdownMenu.classList.add('hidden');
                }
            });
        });
    </script>
</body>
</html>
