{% extends 'core/base.html' %}

{% block title %}{{ author.name }}{% endblock %}

{% block content %}
    <h1 class="mb-6 text-2xl">{{ author.name }}</h1>

    {% if author.book_set.count %}
        <div class="space-y-4">
            {% for book in author.book_set.all %}
                <div class="p-4 bg-slate-100 rounded-lg shadow-sm">
                    <h2 class="text-xl font-semibold">
                        <a href="{% url 'book:detail' book.id %}" class="text-blue-600 hover:underline">{{ book.title }}</a>
                    </h2>
                    <p>Category: {{ book.category.name }}</p>
                    <p>Description: {{ book.description }}</p>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>This author doesn't have any books yet...</p>
    {% endif %}
{% endblock %}
